<!DOCTYPE html>
<html>
<head>
  <title>DialApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= load_netzke theme: "classic" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= yield %>
</div>

</body>
</html>
